gradio==5.33.0
gradio_clien==1.10.2
groovy==0.1.2
safehttpx==0.1.6
fal-client==0.4.1
openai==1.54.4
langchain==0.2.16
langchain-openai==0.1.25
moviepy==1.0.3
opencv-python==4.10.0.84
numpy==1.26.4
Pillow==10.4.0
python-dotenv==1.0.1
